body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: azure;
}
section.hanna {
  height: 90vh;
  width: 80rem;
  margin-bottom: 3em;
}
figure {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  align-items: center;
}
figure > img {
  height: 300px;
  width: 550px;
}
figcaption {
  display: flex;
  height: 7em;
}
.points {
  display: flex;
  width: 25rem;
  align-items: center;
  justify-content: space-between;
}
.not-marquer {
  list-style: none;
}
li::marker {
  color: red;
}
p > a {
  color: aliceblue;
}
form {
  display: flex;
  width: 40em;
  height: 4em;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
#lembrarButton {
  background-color: #e50913;
  border: solid 1px;
  border-color: #e50913;
  border-radius: 6px;
  width: 205px;
  color: antiquewhite;
  font-weight: 900;
  height: 3em;
}

#trailerButton {
  width: 205px;
  background-color: #333333;
  border: solid 1px;
  border-color: #333333;
  border-radius: 6px;
  color: antiquewhite;
  font-weight: 900;
  height: 3em;
}

#lembrarButton:hover {
  background-color: #994449;
  border: solid 1px;
  border-color: #994449;
  border-radius: 6px;
  width: 205px;
  color: antiquewhite;
  font-weight: 900;
}
.ver-mais {
  margin-left: 0px;
  align-self: flex-start;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 400px;
  align-items: flex-start;
  margin-bottom: 5px;
}
h4 {
  color: #e50913;
}
.imagescolection {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 15rem;
  height: 19rem;
}
figure.imagescolection > img {
  margin-left: 0px;
  width: 180px;
  border: solid 1px;
  border-radius: 8px;
  /* margin-left: 2rem; */
  margin-right: 4rem;
}
#ver-todos {
  width: 300px;
  background-color: #333333;
  border: solid 1px;
  border-color: #333333;
  border-radius: 6px;
  color: antiquewhite;
  font-weight: 900;
  height: 3em;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}
.net-footer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: flex-start;
}
.text-footer {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-decoration: none;
}
.text-footer > a {
  /* text-decoration: none; */
  color: aliceblue;
}
.net-footer > img {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 40px;
  margin: 20px;
}
#text-min {
  font-size: small;
}
